* {
    font-family: 'Syne', sans-serif;
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
a {
    color: #123c69;
}
a:hover {
    color: #5380b1;
  }
  header {
    background-color: #eee2dc;
  }
  .nav {
      float: right;
      margin: 10px;
  }
  li {
      margin: 10px;
  }
  .jumbotron {
    margin: 0px;
    color: #832545;
    background-color: #eee2dc;
  }
  .container-1 {
    padding: 70px;
    background-color: #edc7b7;
}
  .container-2 {
    padding: 70px;
    background-color: #eee2dc;
}
.contacts {
    list-style-type: none;
}
.profilepic {
    height: 150px;
}
.card {
    margin: 10px;
    background-color: #edc7b7;
    border: none;
}
#workimg {
    height: 260px;
}
